@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.date {
  padding: $unit * 2;
  background: $base-dark;
  color: $base-light;
  display: inline-block;
  border-radius: $unit;
  margin: 0 $unit;
}
