@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.area {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: $unit * 5;
  max-width: 100%;
  width: 800px;
  margin: auto;

  @media (min-width: $device-large) {
    flex-direction: row;
    justify-content: center;
    padding-bottom: $unit * 10;
    max-width: calc(100% - 860px);
  }

  .child {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $unit * 5;

    @media (min-width: $device-medium) {
      margin-top: $unit * 8;
    }
  }
}
