option_settings:
  -
    namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: '/status'
  -
    namespace: 'aws:elasticbeanstalk:environment'
    option_name: EnvironmentType
    value: 'LoadBalanced'
  -
    namespace: 'aws:autoscaling:asg'
    option_name: MinSize
    value: '2'
  -
    namespace: 'aws:autoscaling:asg'
    option_name: MaxSize
    value: '4'
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "MeasureName"
    value: "Latency"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "Statistic"
    value: "Average"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "Unit"
    value: "Seconds"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "Period"
    value: "5"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "BreachDuration"
    value: "5"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "UpperThreshold"
    value: "3"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "UpperBreachScaleIncrement"
    value: "1"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "LowerThreshold"
    value: "0.6"
  -
    namespace: "aws:autoscaling:trigger"
    option_name: "LowerBreachScaleIncrement"
    value: "-1"
  -
    namespace: 'aws:elasticbeanstalk:application:environment'
    option_name: PORT
    value: '80'