container_commands:
  ELK_files:
    command: 'source /home/ec2-user/elk-variables.sh ; echo -e "export LOGGING_URL=$ELK_ENDPOINT" >elk.sh ; echo -e "export ELK_COMMAND=\"ApplicationName=$ApplicationName EnvironmentName=$EnvironmentName EnvironmentId=$EnvironmentId InstanceId=$InstanceId IpAddress=$IpAddress LocalHostname=$LocalHostname InstanceType=$InstanceType Zone=$Zone Site=$Site App_Env=$App_Env  /usr/share/filebeat/filebeat -e -v -c /usr/share/filebeat/filebeat.yml\"" >> elk.sh'