@import "styles/colors";
@import "styles/sizes";
@import "styles/breakpoints";

.block {
  margin: $unit * 2 $unit * 3;
  width: calc(100% - 48px);
  max-width: 430px;

  @media (min-width: $device-med-large) {
    margin: $unit * 6 $unit * 3;
  }
}

.active {
  background: $base-dark;

  &:hover {
    color: $base-blue;
  }
}

.detailTitle {
  font-size: 1.2rem;
  margin: 0;
}
