@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Russo One", sans-serif;
  letter-spacing: 1px;
  background-color: #211551;
}

* {
  box-sizing: border-box;
}
