@import "styles/colors";
@import "styles/sizes";
.register {
  position: relative;
  width: 100%;
}

.btn {
  padding: $unit * 2 $unit * 3;
  background: $base-dark;
  color: $base-light;
  display: block;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 8px 4px #ffffff94;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.details {
  height: 300px;
  background: $base-light;
}

.input {
  margin: $unit 0;
  width: 100%;
  input {
    font-family: "Russo One";
    &::placeholder {
      font-family: "Russo One";
    }
  }
}

.button {
  color: $base-light;
  background: $base-dark;
  font-weight: 800;
  margin: $unit 0;
  padding: $unit * 2;
  width: 100%;

  &:hover {
    background: $base-blue;
  }
}
